{% extends "base.html" %}

{% block title %}
  {{ region_name }} Overview
{% endblock %}

{% block content %}
<h1>📊 {{ region_name }}</h1>
<div class="d-flex justify-content-end mb-4">
  <form method="get" action="{{ url_for('main.regionDashboard', region=region_name) }}" class="d-flex align-items-center gap-2">
    <div class="input-group input-group-sm" style="max-width: 220px;">
      <span class="input-group-text bg-white border-end-0">
        <i class="bi bi-calendar-event text-primary"></i>
      </span>
      <input
        type="date"
        name="date"
        class="form-control shadow-sm border-start-0"
        value="{{ selected_date }}"
        required
      >
    </div>
    <button class="btn btn-sm btn-primary" type="submit">Apply</button>
  </form>
</div>
<div class="grid grid-4">
  <div class="card">
            <h3>✅ Passed</h3>
            <p>
              <a
                href="{{ url_for('main.regionJobSummary', jobType='SUCCESS', region=region_name) }}?date={{ selected_date }}"
                title="Click to view all passed jobs"
              >
                {{ daily_summary.passed }}
              </a>
            </p>
          </div>
  <div class="card">
            <h3>❌ Failed</h3>
            <p>
              <a
                href="{{ url_for('main.regionJobSummary', jobType='FAILURE', region=region_name) }}?date={{ selected_date }}"
                title="Click to view all failed jobs"
              >
                {{ daily_summary.failed }}
              </a>
            </p>
  </div>
  <div class="card">
            <h3>⚠️ Aborted</h3>
            <p>
              <a
                href="{{ url_for('main.regionJobSummary', jobType='ABORTED', region=region_name) }}?date={{ selected_date }}"
                title="Click to view all aborted jobs"
              >
                {{ daily_summary.aborted }}
              </a>
            </p>
  </div>
  <div class="card">
    <h3>🔁 Total Runs</h3>
    <p>{{ daily_summary.total }}</p>
  </div>
</div>
<div class="card outer-donut-wrapper" style="margin-top: 24px; padding: 24px;">
          <div class="grid grid-3">
            {% for service in os_service %}
            <div class="card" style="cursor: pointer;" onclick="goToService('{{ region_name }}', '{{ service }}', '{{ selected_date }}')">
              <canvas id="chart-{{ service }}" height="220"></canvas>
            </div>
            {% endfor %}
          </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  const servicesData = {{ os_service_data | tojson | safe }};
  const servicesList = {{ os_service | tojson | safe }};
</script>
<script src="{{ url_for('static', filename='js/serviceDashboard.js') }}"></script>
{% endblock %}